<h4>Add a new Job</h4>

<form action="index.html" method="post">
  <label for="position">Position</label>
  {{input value=position id="position" name="position"}}
  <label for="company">Company</label>
  {{input value=company id="company" name="company"}}

  <button class="btn btn-primary" {{action 'create'}}>Submit Job</button>
</form>
